@use "../Abstract/variables";
.footer {
  background-color: variables.$color-grey-dark-2;
  padding: 10rem 0;
  font-size: 1.4rem;

  &__logo-box {
    text-align: center;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    // background-color: red;
    border-top: 1px solid rgba(variables.$color-black, 0.4);
    padding-top: 1.5rem;
    // background-color: red;
    display: inline-block;
    // background-color: red;
  }

  &__list {
    list-style-type: none;
    text-decoration: none;
    // font-size: 100rem;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: variables.$color-grey-light;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: variables.$color-primary-light;
      box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.4);
      transform: rotate(3deg) scale(1.2);
    }
  }

  &__copyright {
    // background-color: red;
    border-top: 1px solid variables.$color-black;
    padding-top: 1.5rem;
    width: 80%;
    float: right;
  }
}
