@mixin clearfix {

    &::after{

        content: "";
        display: table;
        clear: both;
    }
}


@mixin absCenter($top: Top) {
    position: absolute;
    top: $top;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  //Media Query Manager

//   Breakpoint

//   0-600px:   phone

//   600 - 900px: Tablet portrait


//   900-1200px: Tablet landscapoe


// 1800px + Big Desktop


@mixin respond-phone {

    @media (max-width: 600px){
      @content;
    };

}

// Btreakpoinyt arugment choice


// -phone

// -tab-port

// -tab-land

// -big-desktop


@mixin respond($breakpoint){

    @if $breakpoint == phone {

        @media (max-width: 600px){
            @content;
        }

    }

    @if $breakpoint == tab-port {

        @media (max-width: 900px){
            @content;
        }
        
    }

    @if $breakpoint == tab-landscape {

        @media (max-width: 1200px){
            @content;
        }
        
    }


    @if $breakpoint == big-desktop {

        @media (min-width: 1800px){
            @content;
        }

    }


}


