$color-full-white-text : #fff;

$color-grey-light: #f7f7f7;





//first card color
$color-secondary-light:#ffb900;
$color-secondary-dark: 	#8B8000;

//second card color
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


//third tour card color

//blue color




$color-tertairy-dark: #5643fa;

$color-tertairy-light: #2998ff;


$color-black: black;



$color-white: #ffffff;





//grid
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


//font-sixe

$default-font-size: 1.8rem;





