



@use "../Abstract/variables";



.feature-box{

        background-color: rgba(variables.$color-white, 0.8);


        font-size: 2rem;
        padding: 1.5rem;
        text-align: center;
        transition: all 0.3s;
        box-shadow: 0 1.5rem 4rem rgba(variables.$color-black, 0.15);
        
        &__icon{
                font-size:6rem;
                background-image: linear-gradient(to right, variables.$color-primary-light, variables.$color-primary-dark);
                display: inline-block;
                background-clip: text;
                color:transparent;
                margin-bottom: 0.5rem;


        }
        


        &:hover{

                transform: translateY(-1rem) scale(1.2);


        }




}