
@use "../Abstract/variables";

.form{



    &__group{

        margin-bottom: 3rem;

    }

    &__input{


        font-size:1.5rem;
        padding: 1.5rem 2rem;
        font-family:inherit;
        color:inherit;
        border-radius: 2px;
        background-color: rgba(variables.$color-white, 0.8);
        border:none;
        //transparent = invisible
        //this is a tric to noot border invisible
        border-bottom: 3px solid transparent;
        width:100%;
        display: block;


        &::-webkit-input-placeholder{
            color: variables.$color-grey-dark;
        }


        &:focus{
            outline:none;
            box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.5);
            border-bottom: 3px solid variables.$color-primary-dark;


        }

        &:focus:invalid{

            border-bottom: 3px solid variables.$color-secondary-dark;

        }





    } 

    &__label{

        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;

    }


    &__input:placeholder-shown  + &__label{

        // opacity: 0;
        // visibility: hidden;



        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);



    }



    &__radio-group{

        width:45%;
        // background-color: blue;
        display: inline-block;


    }


    &__radio-input{

        display: none;

    }




    &__radio-label{

        font-size:2rem;
        cursor: pointer;
        // background-color: blue;
        padding-left: 4rem;
        position: relative;


    }


    &__radio-button{

        //tHIS MAKE CIRCLE IF YOU DONT SPECIFY DISPALY: BLOCK OR INLINE-BLCOK IT WIL NIOT WORK

        width: 3rem;
        height: 3rem;
        border: 5px solid variables.$color-primary-dark;
        border-radius: 50%;
        display: inline-block;
        position:absolute;
        top:0;
        left: 0;
        

        &::after{

            content:"";
            width:2rem;
            height:2rem;
            border:1px solid variables.$color-primary-dark;
            border-radius: 50%;
            position: absolute;
            opacity: 0;

        }


    }


    // + Ajacent sibling selector

    &__radio-input:checked + &__radio-label &__radio-button::after{


        content:"";
            width:1rem;
            height:1rem;
            border:5px solid variables.$color-primary-dark;
            border-radius: 50%;
            position: absolute;
            top:1px;
            left:1px;
            opacity: 1;


    }





}