@use "../Abstract/mixins";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


html {

  //1 rem = 10px; by default 1rem = 16px;

  font-size: 62.5%;


  // less than equal to 1200
  @include mixins.respond(tab-landscape) {

    font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%

  }

  //less than equal to 900

  @include mixins.respond(tab-port) {

    font-size: 50%; //1 rem = 8px , 8/16 = 50%

  }



  //less than equal to 600
  @include mixins.respond(phone) {

    font-size: 40%; //1rem = 4.8

  }







  @include mixins.respond(big-desktop) {

    font-size: 75%; //1 rem = 12, 12/16

  }



}


body {



  /* padding:12px; */
  /* background-color: red; */
  // background-color: blue;
  padding: 0.75rem;


  @include mixins.respond(tab-port) {
    padding: 0;
  }




}