
@use "../Abstract/variables";


@use "../Base/utilities";


.heading-secondary{

    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, variables.$color-primary-light, variables.$color-primary-dark);
    display: inline-block;
    background-clip: text;
    color:transparent;
    letter-spacing: 2px;
    transform: all 0.2s;


    &:hover {

        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.1rem 1rem  2rem rgba(variables.$color-black, 0.2);


    }

}




.heading-tertiary{

    font-size: variables.$default-font-size;
    font-weight:700;
    text-transform: uppercase;
    font-size: 1.6rem;

}


.paragraph{
    
    font-size: 2rem;
    margin-bottom: 1.2rem;



}



